{% extends 'AwanaRecordKeeping/base.html' %} {% block body %}
<ul class="menu-style">
	<li class="menu-style"><a href="/">Home</a></li>
	<li class="menu-style"><a href="/CheckInSparks">CheckIn</a></li>
	<li class="menu-style"><a href="/BookSparks">Handbook</a></li>
	<li class="menu-style"><a href="/PointsSparks">Points</a></li>
	<li class="menu-style"><a class="active" href="/AwardsSparks">Awards</a></li>
</ul>

<button class="button buttonS">Sparks</button>
<button class="button button4">
	<a href="/AwardsTT">T&T</a>
</button>
<hr>
<h2>
	<p style="text-align: left;">
		Sparks Awards<span style="float: right;">{{ wed }}</span>
	</p>
</h2>

<form id="awana-form" name="awanaForm" action="/AwardsSparks/"
	method="post">
	{% csrf_token %}
	<table>
		<tr>
			<th><div><span>Name</span></div></th>
			<th><div><span>Section</span></div></th>
		</tr>

		{% if section %} {% for s in section %}
		<tr>
			<td>{{s}}</td><td>{{section|get_item:s}}</td>
		</tr>
		{% endfor %} {% endif %}
	</table>

</form>

{% endblock %}
