
{% extends 'AwanaRecordKeeping/base.html' %}
{% block body %}
		<ul class="menu-style">
		  <li class = "menu-style"><a href="/" >Home</a></li>
		  <li class = "menu-style"><a href="/CheckInTTBoys">CheckIn</a></li>
		  <li class = "menu-style"><a href="/BookTTBoys">Handbook</a></li>
		  <li class = "menu-style"><a href="/PointsTTBoys">Points</a></li>
		  <li class = "menu-style"><a class="active" href="/AwardsTT">Awards</a></li>
		</ul>

		<button class="button button4"><a href="/AwardsSparks">Sparks</a></button>
		<button class="button buttonS">T&T</button>
		<hr>
		<h2><p style="text-align:left;">T&T Awards<span style="float:right;">{{ wed }}</span></p></h2>
		<form id="awana-form" name="awanaForm" action="/AwardsTT/" method="post">
	    {% csrf_token %}
		<table>
			<tr>
				<th><div><span>Name</span></div></th>
				<th><div><span>Section</span></div></th>
			</tr>
	
			{% if gsection %} {% for s in gsection %}
			<tr>
				<td>{{s}}</td><td>{{gsection|get_item:s}}</td>
			</tr>
			{% endfor %} {% endif %}
		</table>

		<table>
			<tr>
				<th><div><span>Name</span></div></th>
				<th><div><span>Section</span></div></th>
			</tr>
	
			{% if bsection %} {% for s in bsection %}
			<tr>
				<td>{{s}}</td><td>{{bsection|get_item:s}}</td>
			</tr>
			{% endfor %} {% endif %}
		</table>
		</form>

 {% endblock %}
