
{% extends 'AwanaRecordKeeping/base.html' %}
{% block body %}
		<ul class="menu-style">
		  <li class = "menu-style"><a href="/" >Home</a></li>
		  <li class = "menu-style"><a href="/CheckInTTBoys">CheckIn</a></li>
		  <li class = "menu-style"><a class="active" href="/BookTTBoys">Handbook</a></li>
		  <li class = "menu-style"><a href="/PointsTTBoys">Points</a></li>
		  <li class = "menu-style"><a href="/AwardsTT">Awards</a></li>
		</ul>

		<button class="button button4"><a href="/BookSparks">Sparks</a></button>
		<button class="button button4"><a href="/BookTTGirls">T&T Girls</a></button>
		<button class="button buttonS">T&T Boys</button>
		<hr>
		<h2><p style="text-align:left;">T&T Boys Handbook<span style="float:right;">{{ wed }}</span></p></h2>
		<form id="awana-form" name="awanaForm" action="/BookTTBoys/" method="post">
		{% if msg != '' %}
			<h3><font color="red">{{ msg }}</font></h3>
		{% endif %} 	
		
	    {% csrf_token %}
		<select name="leadername" >
	    <option value="Albert Land">Albert Land</option>
		{% if lname == 'Joe Wallace' %}
		    <option value="Joe Wallace" selected>Joe Wallace</option>
	    {% else %}
		    <option value="Joe Wallace">Joe Wallace</option>
	    {% endif %}
		{% if lname == 'Susan Nelson' %}
		    <option value="Susan Nelson" selected>Susan Nelson</option>
	    {% else %}
		    <option value="Susan Nelson">Susan Nelson</option>
	    {% endif %}
		{% if lname == 'Sam Long' %}
		    <option value="Sam Long" selected>Sam Long</option>
	    {% else %}
		    <option value="Sam Long">Sam Long</option>
	    {% endif %}
		</select>
		<table>
		  <tr>
			<th><div><span>E</span></div></th>
			<th><div><span>Name</span></div></th>
			<th><div><span>Book</div></th>
			<th><div><span>Chapter</div></th>
			<th><div><span>Section</div></th>
		  </tr>

		{% if roll %}
			{% for cname in roll %}
				<tr>
   					{% if cname in group %}
						<td><input type="Checkbox" value="{{cname}}" name="leader" onchange="this.form.submit()" checked></input></td> 
				    {% else %}
						<td><input type="Checkbox" value="{{cname}}" name="leader" onchange="this.form.submit()"></input></td> 
				    {% endif %}
					<td>{{cname}}</td>
					<td>
  					<select name="ttbook" onchange="this.form.submit()" >
					    <option value="{{cname}},4">T&T Start Zone</option>
       					{% if book|get_item:cname == 'T&T Grace In Action' %}
					    <option value="{{cname}},5" selected>T&T Grace In Action</option>
					    {% else %}
					    <option value="{{cname}},5">T&T Grace In Action</option>
					    {% endif %}
  						{% if book|get_item:cname == 'T&T Adventure Book1' %}
					    <option value="{{cname}},6" selected>T&T Adventure Book1</option>
					    {% else %}
					    <option value="{{cname}},6">T&T Adventure Book1</option>
					    {% endif %}
    					{% if book|get_item:cname == 'T&T Adventure Book2' %}
 					    <option value="{{cname}},7" selected>T&T Adventure Book2</option>
					    {% else %}
					    <option value="{{cname}},7">T&T Adventure Book2</option>
					    {% endif %}
    					{% if book|get_item:cname == 'T&T Challenge Book1' %}
					    <option value="{{cname}},8" selected>T&T Challenge Book1</option>
					    {% else %}
					    <option value="{{cname}},8">T&T Challenge Book1</option>
					    {% endif %}
    					{% if book|get_item:cname == 'T&T Challenge Book2' %}
					    <option value="{{cname}},9" selected>T&T Challenge Book2</option>
					    {% else %}
					    <option value="{{cname}},9">T&T Challenge Book2</option>
					    {% endif %}
  					</select>
					</td>
					<td>
					{% if book|get_item:cname == 'T&T Start Zone' %}
					</td>
					{% else %}
  					<select name="ttchap" onchange="this.form.submit()">
       					{% if book|get_item:cname == 'T&T Grace In Action' %}
						    <option value="{{cname}},1">Unit 1</option>
	      					{% if chapter|get_item:cname == 2 %}
						    <option value="{{cname}},2" selected>Unit 2</option>
						    {% else %}
						    <option value="{{cname}},2">Unit 2</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 3 %}
						    <option value="{{cname}},3" selected>Unit 3</option>
						    {% else %}
						    <option value="{{cname}},3">Unit 3</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 4 %}
						    <option value="{{cname}},4" selected>Unit 4</option>
						    {% else %}
						    <option value="{{cname}},4">Unit 4</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 5 %}
						    <option value="{{cname}},5" selected>Extra 1</option>
						    {% else %}
						    <option value="{{cname}},5">Extra 1</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 6 %}
						    <option value="{{cname}},6" selected>Extra 2</option>
						    {% else %}
						    <option value="{{cname}},6">Extra 2</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 7 %}
						    <option value="{{cname}},7" selected>Extra 3</option>
						    {% else %}
						    <option value="{{cname}},7">Extra 3</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 8 %}
						    <option value="{{cname}},8" selected>Extra 4</option>
						    {% else %}
						    <option value="{{cname}},8">Extra 4</option>
						    {% endif %}
					    {% else %}
	 					    <option value="{{cname}},1" >Discovery 1</option>
	      					{% if chapter|get_item:cname == 2 %}
						    <option value="{{cname}},2" selected>Discovery 2</option>
						    {% else %}
						    <option value="{{cname}},2" >Discovery 2</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 3 %}
						    <option value="{{cname}},3" selected>Discovery 3</option>
						    {% else %}
						    <option value="{{cname}},3" >Discovery 3</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 4 %}
						    <option value="{{cname}},4" selected >Discovery 4</option>
						    {% else %}
						    <option value="{{cname}},4" >Discovery 4</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 5 %}
						    <option value="{{cname}},5" selected>Discovery 5</option>
						    {% else %}
						    <option value="{{cname}},5" >Discovery 5</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 6 %}
						    <option value="{{cname}},6" selected>Discovery 6</option>
						    {% else %}
						    <option value="{{cname}},6" >Discovery 6</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 7 %}
						    <option value="{{cname}},7" selected>Discovery 7</option>
						    {% else %}
						    <option value="{{cname}},7" >Discovery 7</option>
						    {% endif %}
	      					{% if chapter|get_item:cname == 8 %}
						    <option value="{{cname}},8" selected>Discovery 8</option>
						    {% else %}
						    <option value="{{cname}},8" >Discovery 8</option>
						    {% endif %}
					    {% endif %}
					</select>
					</td>
				    {% endif %}
					
					<td>
					{% if book|get_item:cname == 'T&T Grace In Action' and chapter|get_item:cname > 4 %}
					    {% if section1|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section1" onchange="this.form.submit()" checked>S1</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section1" onchange="this.form.submit()">S1</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section1">

					    {% if section2|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section2" onchange="this.form.submit()" checked>G1</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section2" onchange="this.form.submit()">G1</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section2">

					    {% if section3|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section3" onchange="this.form.submit()" checked>S2</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section3" onchange="this.form.submit()">S2</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section3">

					    {% if section4|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section4" onchange="this.form.submit()" checked>G2</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section4" onchange="this.form.submit()">G2</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section4">

					    {% if section5|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section5" onchange="this.form.submit()" checked>S3</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section5" onchange="this.form.submit()">S3</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section5">

					    {% if section6|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section6" onchange="this.form.submit()" checked>G3</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section6" onchange="this.form.submit()">G3</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section6">

					    {% if section7|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section7" onchange="this.form.submit()" checked>S4</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section7" onchange="this.form.submit()">S4</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section7">

					    {% if section8|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section8" onchange="this.form.submit()" checked>G4</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section8" onchange="this.form.submit()">G4</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section8">

					    {% if section9|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section9" onchange="this.form.submit()" checked>S5</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section9" onchange="this.form.submit()">S5</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section9">

					    {% if section10|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section10" onchange="this.form.submit()" checked>G5</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section10" onchange="this.form.submit()">G5</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section10">

						{% if chapter|get_item:cname > 5 %}

					    	{% if section11|get_item:cname == 1 %}
						    	<input type="Checkbox" value="{{cname}}" name="section11" onchange="this.form.submit()" checked>S6</input>
				        	{% else %}
							    <input type="Checkbox" value="{{cname}}" name="section11" onchange="this.form.submit()">S6</input>
				        	{% endif %}
					    	<input type="hidden" value="{{cname}}" name="section11">

						    {% if section12|get_item:cname == 1 %}
							    <input type="Checkbox" value="{{cname}}" name="section12" onchange="this.form.submit()" checked>G6</input>
				        	{% else %}
							    <input type="Checkbox" value="{{cname}}" name="section12" onchange="this.form.submit()">G6</input>
				        	{% endif %}
					    	<input type="hidden" value="{{cname}}" name="section12">

				        {% endif %}
					    
				    {% else %}
					
					    {% if section1|get_item:cname == 1 %}
						    <input type="Checkbox" value="{{cname}}" name="section1" onchange="this.form.submit()" checked>1</input>
				        {% else %}
						    <input type="Checkbox" value="{{cname}}" name="section1" onchange="this.form.submit()">1</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section1">
						
					    {% if section2|get_item:cname == 1 %}
  					        <input type="Checkbox" value="{{cname}}" name="section2" onchange="this.form.submit()" checked>2</input>
				        {% else %}
					        <input type="Checkbox" value="{{cname}}" name="section2" onchange="this.form.submit()">2</input>
				        {% endif %}
					    <input type="hidden" value="{{cname}}" name="section2">

  					    {% if book|get_item:cname == 'T&T Start Zone' %}
					        </td>
					    {% else %}
						    {% if section3|get_item:cname == 1 %}
		 					    <input type="Checkbox" value="{{cname}}" name="section3" onchange="this.form.submit()" checked>3</input>
					        {% else %}
		 					    <input type="Checkbox" value="{{cname}}" name="section3" onchange="this.form.submit()">3</input>
					        {% endif %}
						    <input type="hidden" value="{{cname}}" name="section3">
						    
						    {% if section4|get_item:cname == 1 %}
	 						    <input type="Checkbox" value="{{cname}}" name="section4" onchange="this.form.submit()" checked>4</input>
					        {% else %}
	 						    <input type="Checkbox" value="{{cname}}" name="section4" onchange="this.form.submit()">4</input>
					        {% endif %}
						    <input type="hidden" value="{{cname}}" name="section4">
						
						    {% if section5|get_item:cname == 1 %}
	 						    <input type="Checkbox" value="{{cname}}" name="section5" onchange="this.form.submit()" checked>5</input>
					        {% else %}
	 						    <input type="Checkbox" value="{{cname}}" name="section5" onchange="this.form.submit()">5</input>
					        {% endif %}
						    <input type="hidden" value="{{cname}}" name="section5">
						    
						    {% if section6|get_item:cname == 1 %}
	 						    <input type="Checkbox" value="{{cname}}" name="section6" onchange="this.form.submit()" checked>6</input>
					        {% else %}
	 						    <input type="Checkbox" value="{{cname}}" name="section6" onchange="this.form.submit()">6</input>
					        {% endif %}
						    <input type="hidden" value="{{cname}}" name="section6">
						
						    {% if section7|get_item:cname == 1 %}
	 						    <input type="Checkbox" value="{{cname}}" name="section7" onchange="this.form.submit()" checked>7</input>
					        {% else %}
	 						    <input type="Checkbox" value="{{cname}}" name="section7" onchange="this.form.submit()">7</input>
					        {% endif %}
						    <input type="hidden" value="{{cname}}" name="section7">
					        </td>
   					    {% endif %}
					{% endif %}
				</tr>
			{% endfor %}
		{% endif %}
		</table>
		</form>

 {% endblock %}
