{% extends 'AwanaRecordKeeping/base.html' %}
{% block body %}
		<ul class="menu-style">
		  <li class = "menu-style"><a href="/" class="active" >Home</a></li>
		  <li class = "menu-style"><a href="/CheckInPuggles">CheckIn</a></li>
		  <li class = "menu-style"><a href="/BookSparks">Handbook</a></li>
		  <li class = "menu-style"><a href="/PointsTTBoys">Points</a></li>
		  <li class = "menu-style"><a href="/AwardsTT">Awards</a></li>
		</ul>
		<h2>Calendar 2020-2021</h2>
		<table>
		<tr><td>Opening Night</td><td>September 2, 2020</td></tr>
		<tr><td>Thanksgiving (No Meeting)</td><td>November 25, 2020</td></tr>
		<tr><td>Store Night/Christmas Party</td><td>December 9, 2020</tr>
		<tr><td>Christmas Holidays (No Meeting)</td><td>December 16, 23 and 30</td></tr>
		<tr><td>First Club Night of 2021</td><td>January 6, 2021</td></tr>
		<tr><td>Family Night</td><td>February 24, 2021</td></tr>
		<tr><td>Spring Break (No Meeting)</td><td>March 11, 2021</td></tr>
		<tr><td>Final Meeting Night/Store/Awards</td><td>May 12, 2021</td></tr>
		</table>

		<h2>Registration Forms</h2>
		<p><a href="https://goo.gl/forms/lE1tYbbRV3eHODzi2"><font color="blue">Google Forms</font></a></p>
		<p><a href="https://docs.google.com/spreadsheets/d/1J9741-exCyCuOQQGSfLM95ot9NBvgXt2uysYNZTOakA/edit?usp=sharing"><font color="blue">Google SS</font></a></p>
		<h2>Leaders</h2>
		<p>* If you are going to be absent or late to a club night please let the director (D) of your club know.</p>
		
		<h3>Secretary</h3>
		<table>
		<tr><td>Monica Wentworth</td><td><a class="tel" href="tel:(817)894-5849">(817)894-5849</a></td></tr>
\		</table>
		
		<h3>Cubbies</h3>
		<table>
		<tr><td>Debbie Lindsey (D)</td><td><a class="tel" href="tel:(325)725-4383">(325)725-4383</a></td></tr>
		<tr><td>Jaylen Howell</td></tr>
		</table>

		<h3>Sparks</h3>
		<table>
		<tr><td>Paul Duncan (D)</td><td><a class="tel" href="tel:(817)776-1977">(817)776-1977</a></td></tr>
		<tr><td>John Grim</td></tr>
		<tr><td>Diane Long</td></tr>
		<tr><td>Dina Mills</td></tr>
		<tr><td>Hazel Rose</td></tr>
		<tr><td>Amy Sain</td></tr>
		<tr><td>Curtis Wentworth</td></tr>
		<tr><td>Judy Fowler</td></tr>
		<tr><td>Dakota Fowler</td></tr>
		<tr><td>David Moore</td></tr>
		</table>

		<h3>T&T Girls</h3>
		<table>
		<tr><td>Angela Duncan (D)</td><td><a class="tel" href="tel:(817)776-1976">(817)776-1976</a></td></tr>
		<tr><td>Audra Cain</td></tr>
		<tr><td>Sarah Collier</td></tr>
		<tr><td>Sarah Hartshorn</td></tr>
		<tr><td>Margaret King</td></tr>
		<tr><td>Jennifer Moore</td></tr>
		</table>
		
		<h3>T&T Boys</h3>
		<table>
		<tr><td>Sam Long (D)</td><td><a class="tel" href="tel:(817)313-2006">(817)313-2006</a></td></tr>
		<tr><td>John Howell</td></tr>
		<tr><td>Albert Land</td></tr>
		<tr><td>Joe Wallace</td></tr>
		<tr><td>Treva Wallace</td></tr>
		</table>

 {% endblock %}
