{% extends 'AwanaRecordKeeping/base.html' %}
{% block body %}
		<ul class="menu-style">
		  <li class = "menu-style"><a href="/" class="active" >Home</a></li>
		  <li class = "menu-style"><a href="/CheckInPuggles">CheckIn</a></li>
		  <li class = "menu-style"><a href="/BookSparks">Handbook</a></li>
		  <li class = "menu-style"><a href="/PointsTTBoys">Points</a></li>
		  <li class = "menu-style"><a href="/AwardsTT">Awards</a></li>
		</ul>
		<h2>Calendar 2017</h2>
		<table>
		<tr><td>Opening Night</td><td>September 6, 2017</td></tr>
		<tr><td>Thanksgiving (No Meeting)</td><td>November 22, 2017</td></tr>
		<tr><td>Store Night/Christmas Party</td><td>December 13, 2017</tr>
		<tr><td>Christmas Holidays (No Meeting)</td><td>December 20 and 27, 2017 and January 3, 2018</td></tr>
		<tr><td>First Club Night of 2018</td><td>January 10, 2018</td></tr>
		<tr><td>Family Night</td><td>February 21, 2018</td></tr>
		<tr><td>Spring Break (No Meeting)</td><td>March 14, 2018</td></tr>
		<tr><td>Final Meeting Night/Store/Awards</td><td>May 9, 2018</td></tr>
		</table>

		<h2>Registration Forms</h2>
		<p><a href="https://goo.gl/forms/lE1tYbbRV3eHODzi2"><font color="blue">Google Forms</font></a></p>
		<p><a href="https://docs.google.com/spreadsheets/d/1J9741-exCyCuOQQGSfLM95ot9NBvgXt2uysYNZTOakA/edit?usp=sharing"><font color="blue">Google SS</font></a></p>
		<h2>Leaders</h2>
		<p>* If you are going to be absent or late to a club night please let the director (D) of your club know.</p>
		<h4>Puggles</h4>
		<table>
		<tr><td>Debbie Land (D)</td><td><a class="tel" href="tel:(817)480-8383">(817)480-8383</a></td></tr>
		<tr><td>Gabby Ledford</td><td><a class="tel" href="tel:(817)559-3494">(817)559-3494</a></td></tr>
		</table>
		
		<h3>Cubbies</h3>
		<table>
		<tr><td>Pam Glenn (D)</td><td><a class="tel" href="tel:(817)279-3711">(817)279-3711</a></td></tr>
		<tr><td>Lydia Long</td><td><a class="tel" href="tel:(817)964-4981">(817)964-4981</a></td></tr>
		</table>

		<h3>Sparks</h3>
		<table>
		<tr><td>Diane Long (D)</td><td><a class="tel" href="tel:(817)313-1840">(817)313-1840</a></td></tr>
		<tr><td>John Grim</td><td><a class="tel" href="tel:(817)888-6070">(817)888-6070</a></td></tr>
		<tr><td>Billie Robertson</td><td><a class="tel" href="tel:(817)559-7341">(817)559-7341</a></td></tr>
		<tr><td>Hazel Rose</td><td><a class="tel" href="tel:(817)408-6588">(817)408-6588</a></td></tr>
		<tr><td>Sarah Hartshorn</td><td></td></tr>
		</table>

		<h3>T&T Girls</h3>
		<table>
		<tr><td>Angela Duncan (D)</td><td><a class="tel" href="tel:(817)776-1976">(817)776-1976</a></td></tr>
		<tr><td>Susan Nelson</td><td><a class="tel" href="tel:(817)243-6988">(817)243-6988</a></td></tr>
		<tr><td>Margaret King</td><td><a class="tel" href="tel:(817)408-6179">(817)408-6179</a></td></tr>
		<tr><td>Elizabeth Henderson</td><td><a class="tel" href="tel:(817)776-0382">(817)776-0382</a></td></tr>
		<tr><td>Sarah Collier</td><td><a class="tel" href="tel:(616)710-2881">(616)710-2881</a></td></tr>
		<tr><td>Audra Cain</td><td></td></tr>
		</table>
		
		<h3>T&T Boys</h3>
		<table>
		<tr><td>Sam Long (D)</td><td><a class="tel" href="tel:(817)313-2006">(817)313-2006</a></td></tr>
		<tr><td>Albert Land</td><td><a class="tel" href="tel:(817)279-2676">(817)279-2676</a></td></tr>
		<tr><td>Joe Wallace</td><td><a class="tel" href="tel:(254)595-0044">(254)595-0044</a></td></tr>
		</table>

 {% endblock %}
